body {
    background-image: linear-gradient(#0fafbe,#0b9dac,#088c9b );
    color:#088c9b 
    font-size: 35px;
    {

h1{
    color:darkgrey
}

h2 {
    background-color: navy;
    color:aliceblue
}

img {
    width: 500px;
    height: 300px;
}
